<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You have a scheduled reminder!</p>
    <p>
    Reminder details<br>
    --------------------------
    </p>
    <p>Title: <%= @reminder.title %></p>
    <p>Text: <%= @reminder.text %></p>
  </body>
</html>